<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;script ${1:${2:src="${3:/${4:javascripts}/${5:application.js}}"} ${6:type="${7:text/javascript}"} ${8:charset="${9:utf-8}"} ${10:async="async"} ${11:defer="defer"}}&gt;&lt;/script&gt;$0</string>
	<key>name</key>
	<string>&lt;scriptsrc&gt;</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>scriptsrc</string>
	<key>uuid</key>
	<string>6592050A-A087-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>
